.pdl-masonry-view {
  &[data-padding="s"] {
    columns: 200px;
    column-gap: 0.5em;
  }
  &[data-padding="m"] {
    columns: 425px;
  }
  &[data-padding="l"] {
    columns: 500px;
  }
  &[data-padding="xl"] {
    columns: 100%;
  }
}

.pdl-masonry-tile {
  margin-bottom: 1em;
  break-inside: avoid;

  &[data-variant="default"]:before {
    border: none;
  }

  &[data-padding="s"] {
    margin-bottom: 0.5em;
  }
}

.pf-v6-theme-dark {
  .pdl-masonry-tile {
    &[data-kind="model"] {
      background: #00336660;
    }
    &[data-kind="read"] {
      background: #73480b60;
    }
    &[data-kind="code"] {
      background: #004d4d60;
    }
  }
}

.pdl-masonry-tile {
  &[data-variant="default"] {
    background: var(--pf-t--global--background--color--secondary--default);
  }
  &[data-kind="model"] {
    background: #e0f0ff;
  }
  &[data-kind="read"] {
    background: #fff4cc;
  }
  &[data-kind="code"] {
    background: #daf2f2;
  }
  &[data-kind="output-of-program"] {
    background: #e9f7df;
  }
}

.pdl-masonry-index {
  /** These 5 rules give us a circle with text in the center */
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75em;

  background-color: var(--pf-t--global--background--color--inverse--default);
  color: var(--pf-t--global--text--color--inverse);
}

.pdl-masonry-tile:not([data-is-non-card]) {
  h1 {
    font-size: 1.25em;
  }
  &[data-padding="s"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span {
      font-size: 0.6rem !important;
    }
  }
  &[data-padding="m"] {
    font-size: 0.875rem !important;
  }
  blockquote {
    padding: 1em;
    margin-block-end: 1em;
  }
}

.pf-v6-theme-dark {
  .pdl-masonry-tile-panel {
    background: rgba(41, 41, 41);
  }
}
.pdl-masonry-tile-panel {
  background: rgba(255, 255, 255, 0.95);
}
