.pdl-masonry-view {
  &,
  & > div {
    gap: 0.375em !important;
  }
}

.pdl-masonry-tile {
  flex: 1;
  border-radius: 0;

  &:before {
    border: none;
  }

  &[data-is-non-card] {
    &[data-padding="l"] > div {
      margin: 2em;
    }
    &[data-padding="m"] > div {
      margin: 1.5em;
    }
    &[data-padding="s"] > div {
      margin: 1em;
    }
  }
}

.pf-v6-theme-dark {
  .pdl-masonry-tile {
    &[data-kind="model"] {
      background: #63bdbd;
    }
    &[data-kind="read"] {
      background: #f5921b;
    }
    &[data-kind="code"] {
      background: #876fd4;
    }
  }
}

.pdl-masonry-tile {
  background: var(--pf-t--global--background--color--secondary--default);
  &[data-kind="model"] {
    background: #daf2f2;
  }
  &[data-kind="read"] {
    background: #e9f7df;
  }
  &[data-kind="code"] {
    background: #ffe8cc;
  }
}

.pdl-masonry-index {
  border-radius: 50%;
  background-color: var(--pf-t--global--background--color--inverse--default);
  color: var(--pf-t--global--text--color--inverse);
  padding: 0.5em;
}

.pdl-masonry-tile {
  h1 {
    font-size: 1.25em;
  }
  &[data-padding="s"] {
    max-height: 20em;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span {
      font-size: 0.6rem !important;
    }
  }
  &[data-padding="m"] {
    div {
      font-size: 0.875rem !important;
    }
  }
}
