.pf-v6-c-drawer__panel {
  padding: 0;
}

.pdl-drawer-content {
  border-radius: 0;
  .pdl-breadcrumb-bar {
    margin-top: 0.375em;

    .pdl-breadcrumb-bar-item--def:first-child {
      margin-left: 1em;
    }
  }

  .pf-v6-c-card__body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
  }

  .pf-v6-c-tab-content {
    flex: 1;
    overflow: auto;

    & > .pdl-markdown,
    & > .pf-v6-c-description-list {
      padding: 1em 2em 0 2em;
    }

    & > pre {
      overflow-x: unset !important;

      & > code {
        white-space: pre-wrap !important;
      }
    }
  }
}
