.pdl-preview {
  &[data-limit-height="true"] {
    max-height: 350px;
    overflow: auto;
  }
  pre {
    margin: 0 !important;
    font-size: 1em !important;
    font-family: "Red Hat Mono" !important;
  }
}
