.pdl-preview {
  &[data-limit-height="true"] {
    .monaco-editor {
      max-height: 350px;
    }
  }

  .pf-v6-c-code-editor__tab {
    /* Bug in patternfly? the language element shows up with 1rem font-size */
    font-size: 0.875em;
  }
}

/**
 * This adds some space above the code editor component. Necessary
   when using any of the <CodeEditor/> options that pull in the editor
   toolbar, e.g. isCopyEnabled.
 */
.pf-v6-c-page__main-body,
section {
  & > .pdl-preview {
    margin-top: 1em;
  }
}
