.pdl-preview {
  &[data-limit-height="true"] {
    .monaco-editor {
      max-height: 350px;
    }
  }
  pre {
    margin: 0 !important;
    font-size: 1em !important;
    font-family: "Red Hat Mono" !important;
  }
}
