html.web {
  font-size: 20px;
}

.pdl-wrap {
  &,
  & p {
    white-space: pre-wrap;
  }
}

.pdl-mono {
  font-family: var(--pf-t--global--font--family--mono);
}

.pf-v6-c-page__main-container {
  margin: 0;
  border-radius: 0;
  border-radius: none;
  max-height: revert;
}

.pf-v6-c-page__main-body {
  flex: 1;

  & > section[data-fill-height] {
    height: 100%;
  }
}
.pdl-viewer-tab:not([hidden]) {
  height: 100%;
  overflow: auto;
}
