.pdl-page .pdl-content-section {
  /* These help to fit monaco-editor to the height of the tab content section */
  & > .pf-v6-c-page__main-body {
    display: flex;
    flex-direction: column;

    & > .pdl-viewer-section {
      flex-direction: column;
      flex: 1;
      &:not([hidden]) {
        display: flex;
      }
    }
  }
}
