---
name: Build

on: [push, pull_request]

jobs:
  tests:
    name: static checks / linters
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v4
      with:
        # This path is specific to Ubuntu
        path: ${{ env.pythonLocation }}
        # Look to see if there is a cache hit for the setup file
        key: ${{ runner.os }}-pip-new3-${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-new3
          ${{ runner.os }}-new3
    - name: Install dependencies
      run: pip install --upgrade --upgrade-strategy eager .[all]
    - name: pip list packages
      run: pip list
    - name: show pip dependencies
      run: |
        pip install pipdeptree
        pipdeptree -fl
    - name: pre-commit checks
      run: pre-commit run -a
    - name: run tests
      run: py.test -v --capture=tee-sys --ignore=tests/test_examples_run.py tests

  viewer:
    name: Build PDL live viewer
    runs-on: ubuntu-latest
    needs: tests
    defaults:
      run:
        working-directory: ./pdl-live
    steps:
      - uses: actions/checkout@v4
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm install
      - name: Generate pdl_ast.d.ts
        run: npx json2ts ../src/pdl/pdl-schema.json src/pdl_ast.d.ts --unreachableDefinitions
      - name: Build viewer
        run: npm run build