.pdl-preview {
  /* This help to fit monaco-editor to the height of the tab content section. See Page.css for other rules in this arena. */
  flex: 1;

  &[data-limit-height="true"] {
    .monaco-editor {
      max-height: 500px;
    }
  }

  .pf-v6-c-code-editor__tab {
    /* Bug in patternfly? the language element shows up with 1rem font-size */
    font-size: 0.875em;
  }
}

/**
 * This adds some space above the code editor component. Necessary
   when using any of the <CodeEditor/> options that pull in the editor
   toolbar, e.g. isCopyEnabled.
 */
.pf-v6-c-page__main-body,
section {
  & > .pdl-preview {
    margin-top: 1em;
  }
}
